<div class="panel panel-default">
  <div class="container-fluid gradient">
    <div class="container panel-default">
      <h1>My Profile</h1>
    </div>
  </div>

  <div class="panel-body">
    <div class="container">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="form-container">
            <div class="form-container-left">
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :gender %>
            </div>
            <div class="form-container-right">
              <%= f.input :phone_number %>
              <%= f.input :address %>
              <%= f.input :family_status %>
              <div class="d-flex mb-3">
                <div>
                  Date of birth:
                  <%= f.date_field :birth_date, class: "form-rounded form-control", as: :date , data: {change_color_target:"input", action:"change->change-color#update"}%>
                </div>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
            </div>
          </div>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>

      <%# <h3>Cancel my account</h3> %>

      <div class="d-flex align-items-center">
        <%# <div>Unhappy?</div> %>
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-gray-cancel", style:"width: 243px; margin-top: 20px;" %>
      </div>
      <%= link_to "Back", :back, class:"btn-gray", style:"width: 243px; margin-top: 20px;"%>
    </div>
  </div>
</div>
