<h1>Edit Your Contract</h1>

<div class="panel panel-default">
    <div class="edit-contract-container">
        Edit your
    </div>
    <div class="panel-body">
      <div class="container">
        <div class="row">
            <%= simple_form_for @contract, data: {turbo: false} do |f| %>
              <%= f.input :contract.company, as: :string %>
              <%= f.input :price, as: :integer %>
              <%= f.input :source, as: :integer %>
              <p>Activity Status <%= f.input :status, as: :boolean %></p>
              <%= f.input :created_at, as: :date %>
              <%= f.input :updated_at, as: :date %>
              <%= f.input :pdf_contract, as: :file %>
              <%= f.input :pdf_certificate, as: :file %>
              <%= f.button :button, class: 'button' %>
            <% end %>
          <%= link_to "<-Back", contracts_path %>
        </div>
    </div>
</div>
