<div class="panel panel-default">
    <div class="container-fuid gradient">
      <div class="container panel-default">
      <h1>Edit your contract - <%= @contract.product.name %></h1>
      </div>
    </div>
    <div class="panel-body">
      <div class="container">
        <div class="row">
            <%= simple_form_for @contract, data: {turbo: false}, class:"position-relative" do |f| %>
              <%= f.association :company %>
              <%= f.association :product %>
              <%= f.input :price, as: :integer %>
              <%= f.input :source, as: :select, collection: Contract.sources.keys %>
              <p>Activity Status <%= f.input :active, as: :radio_buttons %></p>
              <%= f.input :starts_at, as: :date %>
              <%= f.input :ends_at, as: :date %>
              <%= f.input :pdf_contract, as: :file %>
              <%= f.input :pdf_certificate, as: :file %>
              <%= f.button :button, class: 'btn-grad-light' %>
              <%= link_to "Back", contract_path(@contract.id), class:"btn-gray position-absolute", style:"width: 243px; margin-left: 21px; right:16%" %>
            <% end %>
        </div>
    </div>
</div>
