<div class="panel panel-default">
    <div class="edit-contract-container">
        Edit your contract
    </div>
    <div class="panel-body">
      <div class="container">
        <div class="row">
            <%= simple_form_for @contract, data: {turbo: false} do |f| %>
              <%= f.association :company %>
              <%= f.association :product %>
              <%= f.input :price, as: :integer %>
              <%= f.input :source, as: :select, collection: Contract.sources.keys %>
              <p>Activity Status <%= f.input :active, as: :radio_buttons %></p>
              <%= f.input :starts_at, as: :date %>
              <%= f.input :ends_at, as: :date %>
              <%= f.input :pdf_contract, as: :file %>
              <%= f.input :pdf_certificate, as: :file %>
              <%= f.button :button, class: 'button' %>
            <% end %>
          <%= link_to "<-Back", contract_path(@contract.id) %>
        </div>
    </div>
</div>
