<div class="container-fluid gradient">
  <div class="container panel-default">
    <h1>My contracts</h1>
  </div>
</div>
<div class="container">
  <div class="d-flex", style= "justify-content: space-between">
         <%= link_to "Back", "/dashboard", class:"btn-gray", style:"width: 243px; margin-top: 20px;" %>
         <%= link_to "New Contract", new_contract_path, class: "btn btn-grad-light", style:"padding-top: 15px;"%>
  </div>
  <div class="nav-search mt-4">
    <div class="search">
      <%= form_with url: contracts_path, method: :get, class: "d-flex gap" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Look for a Contract"
        %>
        <%= hidden_field_tag :category, params[:category] %>
        <%= button_tag "Search", class: "btn-gray" %>
      <% end %>
    </div>
      <% @contracts.each do |contract| %>
          <div class="row insurance-card insurance-card-hover p-3">
            <div class="col-3">
              <div class="logo">
                <%= cl_image_tag contract.company.logo.key, class:"insurance-logo", style: "width: 100%; background: white" %>
              </div>
            </div>

            <div class="col-5">
              <h1><%= contract.product.category.name %> - <%= contract.product.name %></h1>
              <h2><%= contract.product.company.name %></h2>
              <% if contract.source === "work" %>
                <h2><%= "No cost" %></h2>
              <% elsif contract.timing === "Monthly" %>
                <h2><%= contract.price %> €/month</h2>
              <% elsif contract.timing === "Annually" %>
                <h2><%= contract.price %> €/year</h2>
              <% elsif ((contract.ends_at.to_time.to_i - contract.starts_at.to_time.to_i) / 3600 / 24) > 365 %>
                <h2><%= contract.price %> € for <%= ((contract.ends_at.to_time.to_i - contract.starts_at.to_time.to_i) / 3600 / 24) / 365 %> year(s)</h2>
              <% elsif ((contract.ends_at.to_time.to_i - contract.starts_at.to_time.to_i) / 3600 / 24) > 30 %>
                <h2><%= contract.price %> € for <%= ((contract.ends_at.to_time.to_i - contract.starts_at.to_time.to_i) / 3600 / 24) / 30 %> month(s)</h2>
              <% else %>
                <h2><%= contract.price %> € for <%= ((contract.ends_at.to_time.to_i - contract.starts_at.to_time.to_i) / 3600 / 24) %> day(s)</h2>
              <% end %>
              <div class="row">
                <div class="col-2">
                  <%= link_to "", contract_path(contract), class:"fa-solid fa-magnifying-glass" %>
                </div>
                <div class="col-10">
                  <h3><%= link_to "Details", contract_path(contract), class:"text-decoration-none" %></h3>
                </div>
                <div class="col-2">
                  <%= link_to "", edit_contract_path(contract), class:"fa-solid fa-file-pen" %>
                </div>
                <div class="col-10">
                  <h3><%= link_to "Update", edit_contract_path(contract), class:"text-decoration-none" %></h3>
                </div>
                <div class="col-2">
                  <%= link_to "", contract_path(contract),  class:"fa-solid fa-trash",
                                                            data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this contract?"} %>
                </div>
                <div class="col-10">
                  <h3><%= link_to "Delete", contract_path(contract),  class:"text-decoration-none",
                                                            data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this contract?"} %></h3>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="row">
                <div class="col-6 border-bottom pt-2">
                  <h2>Status: </h2>
                </div>
                <div class="col-6 border-bottom pt-2 centered">
                  <% if contract.active %>
                    <h3 class="pink">Active</h3>
                  <% else %>
                    <h3 class="gray", style="color:white !important">Inactive</h3>
                  <% end %>
                </div>
                <div class="col-6 border-bottom pt-2">
                  <h2>Starts at:</h2>
                </div>
                <div class="col-6 border-bottom pt-2 centered">
                  <h3><%= contract.starts_at.strftime('%d %b %Y') %></h3>
                </div>
                <div class="col-6 border-bottom pt-2">
                  <h2>Ends at:</h2>
                </div>
                <div class="col-6 border-bottom pt-2 centered">
                  <h3><%= contract.ends_at&.strftime('%d %b %Y') %></h3>
                </div>
                <div class="col-6 border-bottom pt-2">
                  <h2>Contract source:</h2>
                </div>
                <div class="col-6 border-bottom pt-2 centered">
                  <h3><%= contract.source.capitalize %></h3>
                </div>
                <% unless contract.pdf_contract.attached? %>
                  <h4><i class="fa-solid fa-triangle-exclamation"></i> No pdf contract</h4>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  <br>
</div>
