<div class="container">
  <h1>List of my insurance</h1>

  <% @contracts.each do |contract| %>
    <div class="insurance-card p-2">
      <div class="row">
        <div class="col-3">
          <img src="point-interrogation-2.jpeg" alt="logo insurance" class="rounded-square">
        </div>
        <div class="col-6">
          <h1><%= contract.product.name %></h1>
          <h2><%= contract.product.company.name %></h2>
          <h2><%= contract.price %></h2>
        </div>
        <div class="col-3">
          <% if contract.active %>
            <h3 class="rounded-border pink mx-3">Active</h3>
          <% else %>
            <h3 class="rounded-border gray mx-3">Inactive</h3>
          <% end %>
          <h3 class="rounded-border mx-3"><%= contract.ends_at %></h3>
          <h3 class="rounded-border mx-3"><%= contract.source %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
