<div class="container-fluid gradient">
  <div class="container panel-default">
    <h1>List of my contracts</h1>
  </div>
</div>
<div class="container">
  <div class="d-flex", style= "justify-content: space-between">
    <%= link_to "New Contract", new_contract_path, class: "btn-grad-light" %>
    <%= link_to "Back", "/dashboard", class:"btn-grad-light", style:"margin-left: 21px"%>
  </div>
  <div class="nav-search mt-4">
    <div class="search">
      <%= form_with url: contracts_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Look for a Contract"
        %>
        <%= button_tag "Search", class: "button" %>
      <% end %>
    </div>

    <% @contracts.each do |contract| %>
      <div class="insurance-card p-2">
        <%= link_to contract_path(contract) do %>
        <div class="row">
          <div class="col-3">
            <img src="point-interrogation-2.jpeg" alt="logo insurance" class="rounded-square">
          </div>
          <div class="col-6">
            <h1><%= contract.product.category.name %></h1>
            <h1><%= contract.product.name %></h1>
            <h2><%= contract.product.company.name %></h2>
            <h2><%= contract.price %></h2>
          </div>
          <div class="col-3">
            <% if contract.active %>
              <h3 class="rounded-border pink mx-3">Active</h3>
            <% else %>
              <h3 class="rounded-border gray mx-3">Inactive</h3>
            <% end %>
            <h3 class="rounded-border mx-3"><%= contract.ends_at %></h3>
            <h3 class="rounded-border mx-3"><%= contract.source %></h3>
          </div>
        </div>
        <%= link_to "", contract_path(contract), class: "fa-solid fa-trash-can", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this contract?"} %>
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
</div>
