<div class="container">
  <h1>List of my contracts</h1>

      <div class="nav-search">
        <div class="search">
          <%= form_with url: contracts_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Look for a Contract"
            %>
            <%= button_tag "Search", class: "button" %>
          <% end %>
        </div>
          <%= link_to "New Contract", new_contract_path, class: "button"  %>
      </div>

  <% @contracts.each do |contract| %>
    <div class="insurance-card">
    <%= link_to "Details", contract_path(contract), class: "link" %>
      <div class="row">
        <div class="col-3 p-2">
          <img src="point-interrogation-2.jpeg" alt="logo insurance" class="rounded-square">
        </div>
        <div class="col-6 p-2">
          <h1><%= contract.product.name %></h1>
          <h2><%= contract.product.company.name %></h2>
          <h2><%= contract.price %></h2>
        </div>
        <div class="col-3 p-2">
          <% if contract.active %>
            <h3 class="rounded-border pink">Active</h3>
          <% else %>
            <h3 class="rounded-border gray">Inactive</h3>
          <% end %>
          <h3 class="rounded-border"><%= contract.ends_at %></h3>
          <h3 class="rounded-border"><%= contract.source %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
