<div class="panel panel-default">
    <div class="container-fluid gradient">
      <div class="container panel-default">
        <h1>Create your contract</h1>
      </div>
    </div>
    <div class="panel-body">
      <div class="container">
        <div class="row" data-controller="form-display company-products" data-company-products-hash-value="<%= @company_products %>">
            <%= simple_form_for @contract, data: {turbo: false}, class:"position-relative" do |f| %>
              <%= f.association :company,
                                label: "Insurer name",
                                include_blank: false,
                                include_hidden: false,
                                input_html: {
                                  class: "form-rounded",
                                  data: {
                                    change_color_target: "input",
                                    action: "change->company-products#updateProducts"
                                  }
                                },
                                label: "Company name" %>
              <%= f.association :product,
                                include_blank: false,
                                include_hidden: false,
                                input_html: {
                                  class: "form-rounded",
                                  data: {
                                    company_products_target: "product"
                                  }
                                },
                                label: "Product name",
                                data: {
                                  change_color_target:"input",
                                  action:"change->change-color#update"
                                }%>
              <%= f.input :source,
                          input_html: {
                            class: "form-rounded",
                            data: {
                              form_display_target: "source",
                              action:"change->form-display#showInputs"
                            }
                          },
                          as: :select,
                          include_blank: false,
                          include_hidden: false,
                          collection: Contract.sources.keys %>
              <%= f.input :price,
                          input_html: {
                            class: "form-rounded"
                          },
                          wrapper_html: {
                            data: { form_display_target: "input" }
                          },
                          as: :integer %>
              <%= f.input :timing,
                          label: "Payment frequency",
                          as: :radio_buttons,
                          collection_wrapper_tag: "div",
                          collection_wrapper_class: "timing-wrapper",
                          item_wrapper_class: "timing-item",
                          input_html: {
                            class: "timing-selector"
                          },
                          wrapper_html: {
                            data: { form_display_target: "input" }
                          },
                          collection: ["Monthly", "Annually", "Specific Period"] %>
              <%= f.input :active,
                          checked: true,
                          as: :radio_buttons,
                          label: "Insurance active?",
                          wrapper_html: {
                            data: { form_display_target: "input" }
                          } %>
              <div class="d-flex mb-3">
                <div>
                  Starts at:
                  <%= f.date_field :starts_at,
                                    class: "form-rounded form-control",
                                    as: :date,
                                    data: {
                                      change_color_target:"input",
                                      action:"change->change-color#update"
                                    }%>
                </div>
                <div>
                  Ends at:
                  <%= f.date_field :ends_at,
                                    class: "form-rounded form-control",
                                    as: :date,
                                    data: {
                                      change_color_target:"input",
                                      action:"change->change-color#update"
                                    }%>
                </div>
              </div>
              <%= f.input :pdf_contract,
                          input_html: {
                            class: "form-rounded"
                          },
                          as: :file,
                          data: {
                            change_color_target:"input",
                            action:"change->change-color#update"
                          }%>
              <%= f.input :pdf_certificate,
                          input_html: {
                            class: "form-rounded"
                          },
                          as: :file,
                          data: {
                            change_color_target:"input",
                            action:"change->change-color#update"
                          }%>
              <div class="d-flex gapp" style="flex-direction: column">
              <%= f.button :button,
                            class: 'btn-grad-light' %>
              <%= link_to "Back", contracts_path, class:"btn-gray", style:"width: 200px;" %>
              </div>
            <% end %>
        </div>
    </div>
</div>
