<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">
  <!--Content before waves-->
  <div class="float-container">
    <div class="float-child">
      <div class="left-card">
        <div class="inner-header align-middle">
          <h1>One app,</h1>
          <h1>All your insurances</h1>
            <div class="landing-button">
              <%= link_to "Your portfolio", dashboard_path, class:"btn-white" %>
            </div>
        </div>
        <div class="log-in">
        </div>
      </div>
    </div>

<%# Log in  %>
<div class="float-child">
  <div class="right-card">
    <div class="section pb-5 pt-5 pt-sm-2 text-center">
			<h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
			<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			<label for="reg-log"></label>
			<div class="card-3d-wrap mx-auto">
				<div class="card-3d-wrapper">
					<div class="card-front">
						<div class="center-wrap">
							<div class="section text-center">
								<h4 class="mb-4 pb-3">Log In</h4>
								<div class="form-group">
                  <%= simple_form_for(@resource, as: :user, url: session_path(:user), data: { turbo: :false }) do |f| %>
                  <div class="form-inputs">
                    <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
                    <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "Log in" %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
					<div class="card-back">
						<div class="center-wrap">
							<div class="section text-center">
								<h4 class="mb-4 pb-3">Sign Up</h4>
                <%= simple_form_for(@resource, as: :user, url: registration_path(:user), data: { turbo: :false }) do |f| %>
                <%= f.error_notification %>
                <div class="form-inputs">
                  <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
                  <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
                  <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
                </div>
                <div class="form-actions">
                  <%= f.button :submit, "Sign up" %>
                </div>
                <% end %>
              </div>
			      	</div>
			      </div>
			    </div>
			  </div>
		  </div>
    </div>
  </div>
<%# End of Log in %>

<!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
<!--Waves end-->
</div>
</div>
<!--Header ends-->

<!--Content starts-->

<div class="row">
  <div class="col-6">
    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="500" height="500" viewBox="0 0 794.1218 505.34514" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M247.4579,701.19842c-12.25095-1.00787-23.067-9.87117-29.218-20.51384-2.06275-3.569-3.47609-8.25063-1.14018-11.64717a6.40928,6.40928,0,0,1,11.315,1.47119,62.04539,62.04539,0,0,1-.96485-12.64086c.09416-3.586.77176-7.64052,3.75358-9.6347,3.45928-2.31349,8.44549-.47663,10.96167,2.83815s3.19894,7.62671,3.80283,11.74426a10.83041,10.83041,0,0,1,12.03865-13.65713c5.06672.76515,9.03581,5.1519,10.58457,10.03641s1.06522,10.18071.06842,15.207c-1.16883,5.89373-3.06582,11.74062-6.481,16.68417s-8.488,8.929-14.37353,10.13822Z" transform="translate(-202.9391 -197.32743)" fill="#f2f2f2"/><path d="M997.0609,303.32743a106.03391,106.03391,0,0,1-71,100.08c-.66016.23-1.33008.46-2,.67v-107.71h-138.77c.04-.67.08984-1.34.1499-2H924.0609v-21.04a5.002,5.002,0,0,0-5-5H790.98082c.23-.67.47021-1.34.73-2a106.01022,106.01022,0,0,1,205.3501,37Z" transform="translate(-202.9391 -197.32743)" fill="#f2f2f2"/><path d="M919.0609,266.32743h-487a7.00778,7.00778,0,0,0-7,7v330a7.00778,7.00778,0,0,0,7,7h487a7.00779,7.00779,0,0,0,7-7v-330A7.00778,7.00778,0,0,0,919.0609,266.32743Zm5,337a5.002,5.002,0,0,1-5,5h-487a5.002,5.002,0,0,1-5-5v-330a5.002,5.002,0,0,1,5-5h487a5.002,5.002,0,0,1,5,5Z" transform="translate(-202.9391 -197.32743)" fill="#3f3d56"/><rect x="223.1218" y="97.03998" width="499" height="2" fill="#3f3d56"/><circle cx="240.1218" cy="84" r="6" fill="#3f3d56"/><circle cx="257.3718" cy="84" r="6" fill="#3f3d56"/><circle cx="274.6218" cy="84" r="6" fill="#3f3d56"/><path d="M562.0609,335.32743h-88a7.00778,7.00778,0,0,0-7,7v88a7.00778,7.00778,0,0,0,7,7h88a7.00779,7.00779,0,0,0,7-7v-88A7.00778,7.00778,0,0,0,562.0609,335.32743Zm5,95a5.002,5.002,0,0,1-5,5h-88a5.002,5.002,0,0,1-5-5v-88a5.002,5.002,0,0,1,5-5h88a5.002,5.002,0,0,1,5,5Z" transform="translate(-202.9391 -197.32743)" fill="#3f3d56"/><path d="M720.0609,335.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,720.0609,335.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e863ff"/><path d="M878.0609,335.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,878.0609,335.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e6e6e6"/><path d="M562.0609,467.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,562.0609,467.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e6e6e6"/><path d="M720.0609,467.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,720.0609,467.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e863ff"/><path d="M878.0609,467.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,878.0609,467.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e6e6e6"/><path d="M540.5609,482.32743h-88a6.50745,6.50745,0,0,1-6.5-6.5v-88a6.50744,6.50744,0,0,1,6.5-6.5h88a6.50745,6.50745,0,0,1,6.5,6.5v88A6.50745,6.50745,0,0,1,540.5609,482.32743Z" transform="translate(-202.9391 -197.32743)" fill="#e863ff"/><polygon points="202.746 492.088 214.466 488.491 206.17 441.573 188.872 446.881 202.746 492.088" fill="#a0616a"/><path d="M403.482,680.85789h38.53073a0,0,0,0,1,0,0v14.88687a0,0,0,0,1,0,0H418.36887A14.88686,14.88686,0,0,1,403.482,680.8579v0A0,0,0,0,1,403.482,680.85789Z" transform="translate(825.89112 1024.95669) rotate(162.93912)" fill="#2f2e41"/><polygon points="102.748 492.358 115.008 492.357 120.84 445.069 102.746 445.07 102.748 492.358" fill="#a0616a"/><path d="M303.06,686.18167h38.53073a0,0,0,0,1,0,0v14.88687a0,0,0,0,1,0,0H317.94689A14.88686,14.88686,0,0,1,303.06,686.18168v0a0,0,0,0,1,0,0Z" transform="translate(441.74335 1189.90807) rotate(179.99738)" fill="#2f2e41"/><path d="M304.80743,552.60788a9.16224,9.16224,0,0,1,.318-14.04558l9.50536-119.69459,19.33086,4.8297L318.48407,540.45594a9.21188,9.21188,0,0,1-13.67664,12.15194Z" transform="translate(-202.9391 -197.32743)" fill="#a0616a"/><circle cx="140.57921" cy="150.55523" r="24.56103" fill="#a0616a"/><path d="M322.16166,415.18605c-5.54194-7.60815-5.71269-18.08683.25708-25.36412,3.89587-4.74914,10.41248-8.54951,21.29248-8.54951,29,0,40,23,40,23s12,22,5,42-7,22-7,22l-46-4S343.47142,444.44079,322.16166,415.18605Z" transform="translate(-202.9391 -197.32743)" fill="#ccc"/><path d="M307.9766,435.09469l9.90967-32.4209a15.50189,15.50189,0,0,1,21.93018-9.24512h0a15.53,15.53,0,0,1,7.08789,20.00977L334.306,442.12984Z" transform="translate(-202.9391 -197.32743)" fill="#ccc"/><path d="M380.71122,463.27242l39,202-21,6-51-133-23,136-22,3s-9.65032-179.945,33-213Z" transform="translate(-202.9391 -197.32743)" fill="#2f2e41"/><path d="M436.84246,453.80485a10.52712,10.52712,0,0,0-.96265,1.3493l-49.53505,2.40166-9.53834-29.11951-16.56185,7.87143,15.58776,43.3713,61.26206-11.98076a10.49579,10.49579,0,1,0-.25193-13.89342Z" transform="translate(-202.9391 -197.32743)" fill="#a0616a"/><path d="M353.31425,407.17672a15.50085,15.50085,0,0,1,16.3623-17.28223h0a15.52954,15.52954,0,0,1,14.53467,15.47168v31.335l-26.936,4.14453Z" transform="translate(-202.9391 -197.32743)" fill="#ccc"/><path d="M348.91975,372.66645c-3.68637-.01605-6.53017-3.89721-6.36494-7.57991s2.63867-6.92285,5.61866-9.09293,6.47479-3.49191,9.798-5.08739,6.61743-3.58561,8.66924-6.64822a14.71557,14.71557,0,0,0,1.02332-13.50438,21.66865,21.66865,0,0,0-9.3332-10.22418,28.37777,28.37777,0,0,0-37.60707,8.25038l-4.20808,11.45787c-4.28786,5.15613-4.968,12.81333-2.33217,18.97968s8.24814,10.80579,14.58112,13.0114a35.79392,35.79392,0,0,0,19.8411.59488" transform="translate(-202.9391 -197.32743)" fill="#2f2e41"/><path d="M326.47317,334.50613c-1.80894-2.89931-4.94439-4.74325-8.18587-5.82543a25.72431,25.72431,0,0,0-33.83244,23.00283c-.34357,6.31437,1.63365,12.48912,2.79545,18.70518s1.39291,13.08161-2.03446,18.396c-2.61053,4.0478-6.96387,6.59634-11.26083,8.77251-3.58128,1.81371-7.45507,3.51578-11.45314,3.1544s-8.01642-3.52812-7.91033-7.54108a32.0544,32.0544,0,0,0-2.68163,9.08033c-.28127,3.15593.49659,6.56125,2.77606,8.76193,3.3131,3.19859,8.56255,2.9646,13.1157,2.27441,9.85694-1.49417,19.83818-4.29543,27.62552-10.52031s12.95465-16.47494,10.90388-26.23127c-.85666-4.07547-2.86993-7.796-4.49677-11.62968s-2.89692-8.027-2.14959-12.124a14.73513,14.73513,0,0,1,7.49255-9.98176,19.60142,19.60142,0,0,1,12.52266-1.899c2.79906.45932,6.29406,1.17251,7.95419-1.12742a4.50752,4.50752,0,0,0-.09367-4.80858,13.24754,13.24754,0,0,0-3.59259-3.5596" transform="translate(-202.9391 -197.32743)" fill="#2f2e41"/><path d="M511.4238,702.67257h-307.294a1.19069,1.19069,0,1,1,0-2.38137h307.294a1.19069,1.19069,0,1,1,0,2.38137Z" transform="translate(-202.9391 -197.32743)" fill="#3f3d56"/></svg>
  </div>
  <div class="col-6 about align-middle">
    <h1>We help you
    <i class="highligthed highligthed-pink"> centralize </i>
    all your insurance in one single app</h1>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="about">
      <h1>
        We
        <i class="highligthed highligthed-pink">simplify</i>
        your life by helping you follow up on your administrative tasks
      </h1>
    </div>
  </div>
  <div class="col-6">
    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 788.67004 600.83683" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M0,544.59645c0,.66003,.53003,1.19,1.19006,1.19H787.48004c.65997,0,1.19-.52997,1.19-1.19,0-.65997-.53003-1.19-1.19-1.19H1.19006c-.66003,0-1.19006,.53003-1.19006,1.19Z" fill="#3f3d56"/><polygon points="432.06293 207.9064 440.17624 157.19821 385.41139 134.88661 377.29808 211.96305 432.06293 207.9064" fill="#a0616a"/><g><circle cx="418.22347" cy="117.65201" r="55.84705" fill="#a0616a"/><path d="M413.76638,42.56955c1.61599,.94332,3.78057-.4839,4.29873-2.2819,.51816-1.79799-.08543-3.70699-.68399-5.47984-1.00441-2.97493-2.00882-5.94987-3.01323-8.9248-2.13705-6.32967-4.40519-12.88052-9.03353-17.69822-6.98573-7.27154-18.08768-9.12139-28.08166-7.78124-12.83424,1.72101-25.49722,8.67062-31.46477,20.1627-5.96755,11.49208-3.42693,27.52765,7.35602,34.69755-15.36808,17.61438-20.72516,37.245-19.8793,60.60585,.84586,23.36084,26.30346,44.86043,42.90521,61.31724,3.70747-2.24742,7.07799-12.77978,5.03922-16.60597-2.03876-3.82618,.88233-8.25893-1.64262-11.78325-2.52495-3.52432-4.63739,2.08745-2.08472-1.41686,1.61078-2.21128-4.67603-7.29848-2.28172-8.62197,11.58089-6.40152,15.43261-20.8366,22.70615-31.89064,8.77325-13.33324,23.78866-22.36263,39.67894-23.86062,8.7534-.82519,17.99892,.66939,25.17375,5.7512,7.17483,5.08181,11.81977,14.16293,10.156,22.79628,4.30889-4.3751,6.45378-10.78682,5.64478-16.87399-.809-6.08717-4.55411-11.7161-9.85617-14.81388,3.22388-10.66119,.46208-22.92467-7.0207-31.17466-7.48278-8.24999-37.83699-6.84486-48.76127-4.67361" fill="#2f2e41"/><path d="M412.06989,83.33122c-14.46888,1.56191-24.91582,14.09519-33.73739,25.66965-5.08455,6.67125-10.41056,14.03853-10.28292,22.42555,.12905,8.47949,5.79847,15.75251,8.50796,23.78849,4.42876,13.13507,.11241,28.76277-10.43002,37.76282,10.41711,1.97677,21.67828-5.83397,23.47661-16.28336,2.09348-12.16437-7.1277-23.90485-6.03562-36.19965,.96214-10.83186,9.49811-19.16825,16.75495-27.26721,7.25684-8.09896,14.07228-18.84607,10.73376-29.19543" fill="#2f2e41"/></g><path d="M414.83896,594.83683s-121,12-130-2c-9-14,122.79134-28,122.79134-28l7.20866,30Z" fill="#a0616a"/><path d="M337.68935,370.5l-2.4999,13.27189c6.80859,10.04883,7.46021,20.67285,3.5,31.72803l138,1c-1.48315-14.95264-3.10718-30.96826,2.57471-45.66309l-141.5748-.33683Z" fill="#a0616a"/><path d="M563.72626,469.16985l-50.04932-40.03906c-6.6499-5.32031-10.95508-13.23096-11.8125-21.7041l-7.71289-76.27441,45.9458-15.31543,11.07666,75.52344,27.61035,62.75146-15.05811,15.05811Z" fill="#a0616a"/><polygon points="372.18935 203 439.18935 200 510.18935 233.8189 481.18935 372 334.18935 383 314.18935 230 372.18935 203" fill="#b676ef"/><path d="M479.26416,403.83683c10.06641,13.27002,14.29395,45.22021,18.57471,77,0,0-185.9999-1-186.9999-1-1,0,28.4252-67,28.4252-67l140-9Z" fill="#2f2e41"/><path d="M485.33896,472.36045l12.5,8.47638s177-12,162,44c-15,56-62,65-62,65l-190,11-2-31s-183,41-200-43c-17-84,105-47,105-47l174.5-7.47638Z" fill="#2f2e41"/><path d="M410.65392,538.83683s4.18504-22,34.18504-13,47,21,47,21l-72,18-9.18504-26Z" fill="#a0616a"/><path d="M485.68935,231.5s34-12,47,27c13,39,10,71,10,71l-50,16-7-114Z" fill="#b676ef"/><path d="M252.54364,475.25676l-10.9082-19.21973,23.56738-58.66846,11.07812-75.53174,45.9458,15.31543-7.80615,77.19629c-.79736,7.88721-4.80518,15.25098-10.99512,20.20312l-50.88184,40.70508Z" fill="#a0616a"/><path d="M330.68935,231.5s-34-12-47,27c-13,39-10,71-10,71l50,16,7-114Z" fill="#b676ef"/><ellipse cx="578.18935" cy="442.5" rx="24" ry="35.5" fill="#a0616a"/><ellipse cx="241.18935" cy="448.5" rx="24" ry="35.5" fill="#a0616a"/><polyline points="332.83896 507.83683 419.83896 532.83683 436.83896 562.83683 404.32782 569.83683" fill="#2f2e41"/></svg>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <svg xmlns="http://www.w3.org/2000/svg" data-name="500" width="500" height="505.34514" viewBox="0 0 794.1218 505.34514" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M247.4579,701.19842c-12.25095-1.00787-23.067-9.87117-29.218-20.51384-2.06275-3.569-3.47609-8.25063-1.14018-11.64717a6.40928,6.40928,0,0,1,11.315,1.47119,62.04539,62.04539,0,0,1-.96485-12.64086c.09416-3.586.77176-7.64052,3.75358-9.6347,3.45928-2.31349,8.44549-.47663,10.96167,2.83815s3.19894,7.62671,3.80283,11.74426a10.83041,10.83041,0,0,1,12.03865-13.65713c5.06672.76515,9.03581,5.1519,10.58457,10.03641s1.06522,10.18071.06842,15.207c-1.16883,5.89373-3.06582,11.74062-6.481,16.68417s-8.488,8.929-14.37353,10.13822Z" transform="translate(-202.9391 -197.32743)" fill="#f2f2f2"/><path d="M997.0609,303.32743a106.03391,106.03391,0,0,1-71,100.08c-.66016.23-1.33008.46-2,.67v-107.71h-138.77c.04-.67.08984-1.34.1499-2H924.0609v-21.04a5.002,5.002,0,0,0-5-5H790.98082c.23-.67.47021-1.34.73-2a106.01022,106.01022,0,0,1,205.3501,37Z" transform="translate(-202.9391 -197.32743)" fill="#f2f2f2"/><path d="M919.0609,266.32743h-487a7.00778,7.00778,0,0,0-7,7v330a7.00778,7.00778,0,0,0,7,7h487a7.00779,7.00779,0,0,0,7-7v-330A7.00778,7.00778,0,0,0,919.0609,266.32743Zm5,337a5.002,5.002,0,0,1-5,5h-487a5.002,5.002,0,0,1-5-5v-330a5.002,5.002,0,0,1,5-5h487a5.002,5.002,0,0,1,5,5Z" transform="translate(-202.9391 -197.32743)" fill="#3f3d56"/><rect x="223.1218" y="97.03998" width="499" height="2" fill="#3f3d56"/><circle cx="240.1218" cy="84" r="6" fill="#3f3d56"/><circle cx="257.3718" cy="84" r="6" fill="#3f3d56"/><circle cx="274.6218" cy="84" r="6" fill="#3f3d56"/><path d="M562.0609,335.32743h-88a7.00778,7.00778,0,0,0-7,7v88a7.00778,7.00778,0,0,0,7,7h88a7.00779,7.00779,0,0,0,7-7v-88A7.00778,7.00778,0,0,0,562.0609,335.32743Zm5,95a5.002,5.002,0,0,1-5,5h-88a5.002,5.002,0,0,1-5-5v-88a5.002,5.002,0,0,1,5-5h88a5.002,5.002,0,0,1,5,5Z" transform="translate(-202.9391 -197.32743)" fill="#3f3d56"/><path d="M720.0609,335.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,720.0609,335.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e863ff"/><path d="M878.0609,335.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,878.0609,335.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e6e6e6"/><path d="M562.0609,467.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,562.0609,467.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e6e6e6"/><path d="M720.0609,467.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,720.0609,467.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e863ff"/><path d="M878.0609,467.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,878.0609,467.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e6e6e6"/><path d="M540.5609,482.32743h-88a6.50745,6.50745,0,0,1-6.5-6.5v-88a6.50744,6.50744,0,0,1,6.5-6.5h88a6.50745,6.50745,0,0,1,6.5,6.5v88A6.50745,6.50745,0,0,1,540.5609,482.32743Z" transform="translate(-202.9391 -197.32743)" fill="#e863ff"/><polygon points="202.746 492.088 214.466 488.491 206.17 441.573 188.872 446.881 202.746 492.088" fill="#a0616a"/><path d="M403.482,680.85789h38.53073a0,0,0,0,1,0,0v14.88687a0,0,0,0,1,0,0H418.36887A14.88686,14.88686,0,0,1,403.482,680.8579v0A0,0,0,0,1,403.482,680.85789Z" transform="translate(825.89112 1024.95669) rotate(162.93912)" fill="#2f2e41"/><polygon points="102.748 492.358 115.008 492.357 120.84 445.069 102.746 445.07 102.748 492.358" fill="#a0616a"/><path d="M303.06,686.18167h38.53073a0,0,0,0,1,0,0v14.88687a0,0,0,0,1,0,0H317.94689A14.88686,14.88686,0,0,1,303.06,686.18168v0a0,0,0,0,1,0,0Z" transform="translate(441.74335 1189.90807) rotate(179.99738)" fill="#2f2e41"/><path d="M304.80743,552.60788a9.16224,9.16224,0,0,1,.318-14.04558l9.50536-119.69459,19.33086,4.8297L318.48407,540.45594a9.21188,9.21188,0,0,1-13.67664,12.15194Z" transform="translate(-202.9391 -197.32743)" fill="#a0616a"/><circle cx="140.57921" cy="150.55523" r="24.56103" fill="#a0616a"/><path d="M322.16166,415.18605c-5.54194-7.60815-5.71269-18.08683.25708-25.36412,3.89587-4.74914,10.41248-8.54951,21.29248-8.54951,29,0,40,23,40,23s12,22,5,42-7,22-7,22l-46-4S343.47142,444.44079,322.16166,415.18605Z" transform="translate(-202.9391 -197.32743)" fill="#ccc"/><path d="M307.9766,435.09469l9.90967-32.4209a15.50189,15.50189,0,0,1,21.93018-9.24512h0a15.53,15.53,0,0,1,7.08789,20.00977L334.306,442.12984Z" transform="translate(-202.9391 -197.32743)" fill="#ccc"/><path d="M380.71122,463.27242l39,202-21,6-51-133-23,136-22,3s-9.65032-179.945,33-213Z" transform="translate(-202.9391 -197.32743)" fill="#2f2e41"/><path d="M436.84246,453.80485a10.52712,10.52712,0,0,0-.96265,1.3493l-49.53505,2.40166-9.53834-29.11951-16.56185,7.87143,15.58776,43.3713,61.26206-11.98076a10.49579,10.49579,0,1,0-.25193-13.89342Z" transform="translate(-202.9391 -197.32743)" fill="#a0616a"/><path d="M353.31425,407.17672a15.50085,15.50085,0,0,1,16.3623-17.28223h0a15.52954,15.52954,0,0,1,14.53467,15.47168v31.335l-26.936,4.14453Z" transform="translate(-202.9391 -197.32743)" fill="#ccc"/><path d="M348.91975,372.66645c-3.68637-.01605-6.53017-3.89721-6.36494-7.57991s2.63867-6.92285,5.61866-9.09293,6.47479-3.49191,9.798-5.08739,6.61743-3.58561,8.66924-6.64822a14.71557,14.71557,0,0,0,1.02332-13.50438,21.66865,21.66865,0,0,0-9.3332-10.22418,28.37777,28.37777,0,0,0-37.60707,8.25038l-4.20808,11.45787c-4.28786,5.15613-4.968,12.81333-2.33217,18.97968s8.24814,10.80579,14.58112,13.0114a35.79392,35.79392,0,0,0,19.8411.59488" transform="translate(-202.9391 -197.32743)" fill="#2f2e41"/><path d="M326.47317,334.50613c-1.80894-2.89931-4.94439-4.74325-8.18587-5.82543a25.72431,25.72431,0,0,0-33.83244,23.00283c-.34357,6.31437,1.63365,12.48912,2.79545,18.70518s1.39291,13.08161-2.03446,18.396c-2.61053,4.0478-6.96387,6.59634-11.26083,8.77251-3.58128,1.81371-7.45507,3.51578-11.45314,3.1544s-8.01642-3.52812-7.91033-7.54108a32.0544,32.0544,0,0,0-2.68163,9.08033c-.28127,3.15593.49659,6.56125,2.77606,8.76193,3.3131,3.19859,8.56255,2.9646,13.1157,2.27441,9.85694-1.49417,19.83818-4.29543,27.62552-10.52031s12.95465-16.47494,10.90388-26.23127c-.85666-4.07547-2.86993-7.796-4.49677-11.62968s-2.89692-8.027-2.14959-12.124a14.73513,14.73513,0,0,1,7.49255-9.98176,19.60142,19.60142,0,0,1,12.52266-1.899c2.79906.45932,6.29406,1.17251,7.95419-1.12742a4.50752,4.50752,0,0,0-.09367-4.80858,13.24754,13.24754,0,0,0-3.59259-3.5596" transform="translate(-202.9391 -197.32743)" fill="#2f2e41"/><path d="M511.4238,702.67257h-307.294a1.19069,1.19069,0,1,1,0-2.38137h307.294a1.19069,1.19069,0,1,1,0,2.38137Z" transform="translate(-202.9391 -197.32743)" fill="#3f3d56"/></svg>
  </div>
  <div class="col-6 about">
    <h1>We
    <i class="highligthed highligthed-pink">support</i> you by giving you a precise view on your coverage</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="customer-card">
      <div class="row">
      </div>
        <h1>Centralize</h1>
        <h2>all your insurance in one place</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="customer-card">
        <h1>Simplify</h1>
        <h2>your administrative tasks</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="customer-card">
        <h1>Support</h1>
        <h2>by helping you having a more precise view on your coverage</h2>
      </div>
    </div>
  </div>
</div>

<!--Content ends-->

<!--Feedback from users starts-->

<!--Feedback from users ends-->
