<div class="panel panel-default">
  <div class="container-fluid gradient">
    <div class="container panel-default">
      <h1>My Profile</h1>
    </div>
  </div>
  <div class="container">
    <div class="insurance-card p-2">
      <div class="roww">
        <div class="columnn">
          <% if current_user.first_name.present? || current_user.last_name.present? %>
            <h5><strong>Name: </strong><%= current_user.first_name %> <%= current_user.last_name %></h5>
          <% else %>
            <h4><strong>Name</strong></h4>
          <% end %>
          <% if current_user.gender.present? %>
            <h2><strong>Gender: </strong><%= current_user.gender %></h2>
          <% else %>
            <h5><strong>Gender: </strong><i class="fa-solid fa-venus-mars"></i></h5>
          <% end %>
          <% if current_user.phone_number.present? %>
            <h5><strong>Phone Number: </strong><%= current_user.phone_number %></h5>
          <% else %>
            <h5><strong>Phone Number: </strong></h5>
          <% end %>
          <% if current_user.address.present? %>
            <h5><strong>Address: </strong><%= current_user.address %></h5>
          <% else %>
            <h5><strong>Address: </strong></h5>
          <% end %>
        </div>
        <div class="columnn">
          <% if current_user.family_status.present? %>
            <h5><strong>Family Status: </strong><%= current_user.family_status %></h5>
          <% else %>
            <h5><strong>Family Status: </strong></h5>
          <% end %>
          <% if current_user.birth_date.present? %>
            <h5><strong>Birth date: </strong><%= current_user.birth_date %></h5>
          <% else %>
            <h5><strong>Birth date: </strong></h5>
          <% end %>
          <h5><strong>Email: </strong><%= current_user.email %></h5>
        </div>
      </div>
    </div>
  <div class="chart">
    <div class = "row">
      <div class ="col-6">
        <div class ="charts-title">
          <h4>Distribution of categories by number of contracts</h4>
        </div>
        <%= pie_chart Category.joins(:products)
                              .where("categories.id = products.category_id")
                              .joins(:contracts)
                              .where("products.id = contracts.product_id")
                              .where("contracts.user_id = #{current_user.id}")
                              .group(:name)
                              .count %>
      </div>
      <div class ="col-6">
        <div class ="charts-title">
          <h4>Distribution of categories by money spent per month</h4>
        </div>
          <%= pie_chart Category.joins(:products)
                                .where("categories.id = products.category_id")
                                .joins(:contracts)
                                .where("products.id = contracts.product_id")
                                .where("contracts.user_id = #{current_user.id}")
                                .group(:name)
                                .sum(:price) %>
      </div>
    </div>
  </div>
  <div class = "personnal-data">
    <ul>
      <li> You have <strong><%= Contract.where("contracts.user_id = #{current_user.id}").count %></strong> contracts downloaded in Kellizi. </li>
      <li> Among these contracts, you have <strong><%= Contract.where("contracts.user_id = #{current_user.id}").where("contracts.active = true").count %></strong> active and <strong><%= Contract.where("contracts.user_id = #{current_user.id}").where("contracts.active = false").count %></strong> inactive. </li>
      <li> Also among these contracts, you have <strong><%=  Contract.where("contracts.user_id = #{current_user.id}").group(:source).count.first[1] %></strong> personnal and <strong><%= Contract.where("contracts.user_id = #{current_user.id}").group(:source).count.first[1][0] %></strong> linked to your work. </li>
      <li> You are spending <strong><%= Contract.where("contracts.user_id = #{current_user.id}").sum(:price) %> €</strong> per month on your contracts.</li>
    </ul>
  </div>
  <hr>
  <%= link_to "Back", root_path, class:"btn-gray", style:"width: 200px"  %>
  <%= link_to "Edit Profile", "edit_profile", class: "btn-gray", style:"width: 200px; margin-left: 21px;"  %>
</div>
</div>
