<div class="panel panel-default">
  <div class="container-fluid gradient">
    <div class="container panel-default">
      <h1>My Profile</h1>
    </div>
  </div>
  <div class="container">
  <div class="row">
  <div class="insurance-card p-2">
  <% if current_user.first_name.present? || current_user.last_name.present? %>
    <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
  <% else %>
    <h4>First Last</h4>
  <% end %>
  <% if current_user.gender.present? %>
    <h2>Gender: <%= current_user.gender %></h2>
  <% else %>
    <h2>Gender <i class="fa-solid fa-venus-mars"></i></h2>
  <% end %>
  <% if current_user.phone_number.present? %>
    <h2>Phone Number: <%= current_user.phone_number %></h2>
  <% else %>
    <h2>Phone_number</h2>
  <% end %>
  <% if current_user.address.present? %>
    <h2>Address: <%= current_user.address %></h2>
  <% else %>
    <h2>Address</h2>
  <% end %>
  <% if current_user.family_status.present? %>
    <h2>Family Status: <%= current_user.family_status %></h2>
  <% else %>
    <h2>Family_status</h2>
  <% end %>
  <% if current_user.birth_date.present? %>
    <h2>Birth date: <%= current_user.birth_date %></h2>
  <% else %>
    <h2>Birth_date</h2>
  <% end %>
  <h2>Email: <%= current_user.email %></h2>
  </div>
  </div>
  <div class="chart">
    <div class = "row">
      <div class ="col-6">
        <div class ="charts-title">
          <h4>Distribution of categories by number of contracts</h4>
        </div>
        <%= pie_chart Category.joins(:products)
                              .where("categories.id = products.category_id")
                              .joins(:contracts)
                              .where("products.id = contracts.product_id")
                              .where("contracts.user_id = #{current_user.id}")
                              .group(:name)
                              .count %>
      </div>
      <div class ="col-6">
        <div class ="charts-title">
          <h4>Distribution of categories by money spent per month</h4>
        </div>
          <%= pie_chart Category.joins(:products)
                                .where("categories.id = products.category_id")
                                .joins(:contracts)
                                .where("products.id = contracts.product_id")
                                .where("contracts.user_id = #{current_user.id}")
                                .group(:name)
                                .sum(:price) %>
      </div>
    </div>
  </div>
  <hr>
  <%= link_to "Edit Profile", "edit_profile", class: "btn-gray"  %>
  <%= link_to "Back", root_path, class:"btn-gray position-absolute", style:"width: 100px; margin-left: 21px;" %>
</div>
</div>
