<div class="panel panel-default">
  <div class="container-fluid gradient">
    <div class="container panel-default">
      <h1>My Profile</h1>
    </div>
  </div>
  <div class="container">
    <div class="insurance-card p-2">
      <div class="row" style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px">
        <div class="col-6">
          <% if current_user.first_name.present? || current_user.last_name.present? %>
            <h5><strong>Name : </strong><%= current_user.first_name %> <%= current_user.last_name %></h5>
          <% else %>
            <h5><strong>Name : </strong></h5>
          <% end %>
          <% if current_user.family_status.present? %>
            <h5><strong>Family Status : </strong><%= current_user.family_status %></h5>
          <% else %>
            <h5><strong>Family Status : </strong></h5>
          <% end %>
          <% if current_user.address.present? %>
            <h5><strong>Address : </strong><%= current_user.address %></h5>
          <% else %>
            <h5><strong>Address : </strong></h5>
          <% end %>
          <% if current_user.gender.present? %>
            <h2><strong>Gender : </strong><%= current_user.gender %></h2>
          <% else %>
            <h5><strong>Gender : </strong><i class="fa-solid fa-venus-mars"></i></h5>
          <% end %>
          </div>
          <div class="col-6">
          <div class="row">
          <% if current_user.family_status.present? %>
            <div class="col-6"><h5><strong>Phone Number : </strong></h5></div><div class="col-6"><h5><%= current_user.phone_number %></h5></div>
          <% else %>
            <h5><strong>Phone Number : </strong></h5>
          <% end %>
          <hr>
          <% if current_user.birth_date.present? %>
            <div class="col-6"><h5><strong>Birth date : </strong></h5></div><div class="col-6"><h5><%= current_user.birth_date.strftime('%d %b %Y') %></h5></div>
          <% else %>
            <h5><strong>Birth date : </strong></h5>
          <% end %>
          <hr>
          <div class="col-6"><h5><strong>Email : </strong></h5></div><div class="col-6"><h5><%= current_user.email %></h5></div>
          </div>
        </div>
      </div>
    </div>
    <div class="chart pb-4">
      <div class = "row">
        <div class ="col-6">
          <div class ="charts-title">
            <h4>Number of contracts by category</h4>
          </div>
          <%= pie_chart Category.joins(:products)
                                .where("categories.id = products.category_id")
                                .joins(:contracts)
                                .where("products.id = contracts.product_id")
                                .where("contracts.user_id = #{current_user.id}")
                                .group(:name)
                                .count,
                                colors: ["#6388F6", "#009FFF", "#C471ED", "#a5bbfc", "#d9a0f6", "#893ab1"] %>
        </div>
        <div class ="col-6">
          <div class ="charts-title">
            <h4>Spent per month per category</h4>
          </div>
            <%= pie_chart Category.joins(:products)
                                  .where("categories.id = products.category_id")
                                  .joins(:contracts)
                                  .where("products.id = contracts.product_id")
                                  .where("contracts.user_id = #{current_user.id}")
                                  .group(:name)
                                  .sum(:price),
                                  colors: ["#6388F6", "#009FFF", "#C471ED", "#a5bbfc", "#d9a0f6", "#893ab1"] %>
        </div>
      </div>
    </div>
    <div class="row my-profile-cards", style="display: flex;justify-content: space-between">
      <div class="col-4">
        <div class="my-profile-card mb-3">
          <h5>Number of contracts</h5>
          <p><%= Contract.where("contracts.user_id = #{current_user.id}").count %></p>
        </div>
      </div>
      <div class="col-4">
        <div class="my-profile-card mb-3">
          <h5>Active contracts</h5>
          <p><%= Contract.where("contracts.user_id = #{current_user.id}").where("contracts.active = true").count %></p>
        </div>
      </div>
      <div class="col-4">
        <div class="my-profile-card mb-3">
          <h5>Personnal contracts</h5>
          <p><%=  Contract.where("contracts.user_id = #{current_user.id}").group(:source).count.first[1] %></p>
        </div>
      </div>
      <div class="col-4">
        <div class="my-profile-card mb-3">
          <h5>€ Spent/month</h5>
          <p><%= Contract.where("contracts.user_id = #{current_user.id}").sum(:price) %></p>
        </div>
      </div>
      <div class="col-4">
        <div class="my-profile-card mb-3">
          <h5>Inactive contracts</h5>
          <p><%= Contract.where("contracts.user_id = #{current_user.id}").where("contracts.active = false").count %></p>
        </div>
      </div>
      <div class="col-4">
        <div class="my-profile-card mb-3">
          <h5>Work contracts</h5>
          <p><%= Contract.where("contracts.user_id = #{current_user.id}").group(:source).count.first[1][0] %></p>
        </div>
      </div>
    </div>
    <%= link_to "Back", root_path, class:"btn-gray", style:"width: 200px"  %>
    <%= link_to "Edit Profile", "edit_profile", class: "btn-gray", style:"width: 200px; margin-left: 21px;"  %>
  </div>
</div>
